@tailwind base;
@tailwind components;
@tailwind utilities;

#reactmarkdown {
    line-height: 2rem;
}


#reactmarkdown h2 {

    margin: 1.75rem 0;
    color: inherit;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    font-size: 1.5rem;
    line-height: 1.1;

}

#reactmarkdown h3 {
    font-weight: 900;
}

#reactmarkdown code {
    background-color: aliceblue;
}